# Ignore all files
*

# Except
!.gitignore
!README.md
!/lib
!/lib/interp.ml
!/lib/versions
!/lib/versions/project2_solutions.ml
!/lib/versions/interp_starter.ml
!/test
!/test/suites
!/test/suites/90lobster
!/test/suites/90lobster/*
!/test/suites/10dynsec
!/test/suites/10dynsec/*

# dit con me may